.content-main{
    padding: 20px 0;
}

.login-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  gap: 30px;
  padding: 20px;
}

.login-image img {
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
}

.login-form {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Mantido, pois não há variável correspondente */
  width: 30%;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: var(
    --blue-accent
  ); /* Substituído por --blue-accent (azul vibrante para destaque) */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-gray);
  font-weight: bold;
}

.form-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  border: solid 1px #ccc;
  color: var(--text-gray);
  font-size: 1rem;
}

.form-group input::placeholder {
  color: var(--text-gray-light);
}

.form-group input:focus {
  border-color: var(
    --blue-medium-light
  ); /* Substituído por --blue-medium-light (azul para foco) */
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: var(
    --blue-button
  ); /* Substituído por --blue-button (azul principal para botão) */
  color: #fff; /* Mantido, geralmente branco para botões primários */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: var(
    --blue-button-hover
  ); /* Substituído por --blue-button-hover (azul mais claro no hover) */
}

.content-singup-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-gray);
}

.content-singup-login span a {
  color: var(
    --blue-accent
  ); /* Substituído por --blue-accent (azul para links) */
  transition: all 0.3s ease;
}

.content-singup-login span a:hover {
  color: var(
    --blue-medium-light
  ); /* Substituído por --blue-medium-light (azul mais claro no hover do link) */
}

.messages .alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
}

.messages .alert-success {
  background-color: #d4edda; /* Mantido, cores específicas para sucesso */
  color: #155724; /* Mantido, cores específicas para sucesso */
}

.messages .alert-danger {
  background-color: #f8d7da; /* Mantido, cores específicas para erro */
  color: #721c24; /* Mantido, cores específicas para erro */
}

.error-message {
  color: var(--red-accent); /* Usando a cor de alerta definida */
  font-size: 14px;
}

.alert-error {
  background-color: #f8d7da; /* Mantido, cores específicas para erro */
  color: #721c24; /* Mantido, cores específicas para erro */
  border: 1px solid #f5c6cb; /* Mantido, cor da borda para erro */
}

@media (max-width: 768px) {
  .login-image img {
    display: none;
  }

  .login-container {
    gap: 0;
  }

  .login-form {
    width: 100%;
  }
}
