:root {
    /* Cores do tema */
    --green-light: #44d593;
    /* Ideal para fundos claros, elementos secundários ou espaços que precisam de um toque suave e natural. */
  
    --green-background: #48bf6b;
  
    --gray-light: #e6e6e6;
  
    --text-gray: #393939;
  
    --blue-button: #0d6efd;
  
    --purple-button: #5250bd;
  
    --blue-button-hover: #6bb1e4;
  
    --text-gray-light: #b3b3b3;
  
    --red-accent: rgb(214, 64, 64);
  
    --green-medium-light: #4bc954;
    /* Um pouco mais escura que a light, perfeita para hover states, detalhes ou para contrastar com fundos brancos. */
  
    --green-dark: #067302;
    /* Uma cor escura e vibrante, ótima para textos, botões de destaque ou elementos que precisam chamar atenção. */
  
    --green-very-dark: #036221;
    /* A mais escura do tema, ideal para textos em fundos claros, rodapés ou áreas que precisam de contraste forte. */
  
    --green-accent: #10bf04;
    /* Uma cor vibrante e chamativa, perfeita para botões principais, links ou elementos que precisam se destacar. */
  }