{% extends 'base.html' %}
{% load static %}

{% block title %}
    Editar Perfil
{% endblock %}

{% block link_extras %}
    <link rel="stylesheet" href="{% static 'css/user/form-perfil.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user/css-global.css' %}" />
{% endblock %}
{% block titulo_dashboard %}
  <div></div>
{% endblock %}
{% block main %}
<div class="perfil-container">
    
    <div class="perfil-info">
        {% include 'messages.html' %}
        <h2>Atualizar Perfil</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_foto">Foto de Perfil</label>
              {{ form.foto }}
              {% if form.foto.errors %}
              <div class="error-message">
                  {% for error in form.foto.errors %}
                      <p>{{ error }}</p>
                  {% endfor %}
              </div>
              {% endif %}
          </div>
            <div class="form-group">
                <label for="id_nome_completo">Nome Completo</label>
                {{ form.nome_completo }}
                {% if form.nome_completo.errors %}
                <div class="error-message">
                    {% for error in form.nome_completo.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_data_nascimento">Data de Nascimento</label>
                {{ form.data_nascimento }}
                {% if form.data_nascimento.errors %}
                <div class="error-message">
                    {% for error in form.data_nascimento.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_cep">CEP</label>
                {{ form.cep }}
                {% if form.cep.errors %}
                <div class="error-message">
                    {% for error in form.cep.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_cep">CPF</label>
                {{ form.cpf }}
                {% if form.cep.errors %}
                <div class="error-message">
                    {% for error in form.cep.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_endereco">Endereço</label>
                {{ form.endereco }}
                {% if form.endereco.errors %}
                <div class="error-message">
                    {% for error in form.endereco.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_estado">Estado</label>
                {{ form.estado }}
                {% if form.estado.errors %}
                <div class="error-message">
                    {% for error in form.estado.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_cidade">Cidade</label>
                {{ form.cidade }}
                {% if form.cidade.errors %}
                <div class="error-message">
                    {% for error in form.cidade.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_referencia">Referencia</label>
                {{ form.referencia }}
                {% if form.referencia.errors %}
                <div class="error-message">
                    {% for error in form.referencia.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Atualizar Perfil</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/user/api-cep.js' %}"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="{% static 'js/user/cpf-mask.js' %}"></script>
{% endblock %}