{% extends 'base.html' %}
{% load static %}

{% block title %}
    Perfil
{% endblock %}

{% block link_extras %}
    <link rel="stylesheet" href="{% static 'css/user/perfil.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user/css-global.css' %}" />
{% endblock %}
{% block main %}
<div class="perfil-container">
    <div class="d-flex align-items-center justify-content-end">
        <!-- Ícone de bars com submenu -->
        <div class="cog-container">
            <i class="fas fa-bars" id="bars-icon"></i>
            <!-- Submenu -->
            <div class="submenu" id="submenu">
                <ul>
                    <li><a href="{% url 'tabela_pedidos_cliente' %}"><i class="fas fa-check-circle"></i> Meus pedidos</a></li>
                    <li><a href=""><i class="fas fa-bar-chart"></i> Histórico de Consumo</a></li>
                    <li><a href=""><i class="fas fa-plug"></i> Equipamentos</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'messages.html' %}
    <h1>Meu Perfil</h1>
    
    <!-- Foto de perfil -->
    <div class="perfil-foto">
        {% if user_perfil.foto %}
            <img src="{{ user_perfil.foto.url }}" alt="Foto de perfil">
        {% else %}
            <i class="fas fa-user icone-usuario"></i>
        {% endif %}
    </div>
    
    <div class="perfil-info">
        <div class="info-item">
            <strong>Nome de usuário:</strong> <span>{{ perfil.username }}</span>
        </div>
        <div class="info-item">
            <strong>Email:</strong> <span>{{ perfil.email }}</span>
        </div>
        <div class="info-item">
            <strong>Nome Completo:</strong> <span>{{ user_perfil.nome_completo }}</span>
        </div>
        <div class="info-item">
            <strong>CPF:</strong> <span>{{ user_perfil.cpf }}</span>
        </div>
        <div class="info-item">
            <strong>Data de Nascimento:</strong> <span>{{ user_perfil.data_nascimento }}</span>
        </div>
        <div class="info-item">
            <strong>Endereço:</strong> <span>{{ user_perfil.endereco }}</span>
        </div>
    </div>
    
    <div class="perfil-actions">
        <a href="{% url 'completar-perfil' %}" class="btn btn-primary">Editar Perfil</a>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/user/bars.js' %}"></script>
{% endblock %}
    